/* Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Universal */
html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
}
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Global */
:root {
  /* font */
  font-size: 14px;

  /* none */
  --none: none;

  /* number */
  --half : 50%;

  /* color */
  --white-color: rgb(255, 255, 255);
  --sky-color : rgb(68, 186, 255);

  /* shadow */
  --box-shadow: 2px 2px 4px rgba(0,0,0,.3);

}

.game {
  width: 100%;
  height: 100%;
  background: url(./imgs/bg.png) 0 0 no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.game__header { 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__btn {
  margin: 20px 0;
  width: 4rem;
  height: 4rem;
  background-color: var(--white-color);
  border: var(--none);
  border-radius: var(--half);
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--sky-color);
  box-shadow: var(--box-shadow);
  transition: transform 100ms ease-in;
}
.game__btn:hover {
  transform: scale(1.1);
}
.game__timer {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px 0;
  visibility: hidden;
}
.game__score {
  font-size: 3rem;
  font-weight: 700;
  visibility: hidden;
}
.game__area {
  width: 100%;
  height: 100%;
  position: relative;
}
.popUp,
.introductionPopup {
  width: 50%;
  background-color: rgba(79, 79, 79, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 25%;
  top: 50%;
}
.popUp__hide,
.introductionPopup__hide {
  display: none;
}
.popUp__refresh {
  margin: 20px 0;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--white-color);
  border: var(--none);
  border-radius: var(--half);
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--sky-color);
}
.popUp__message {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 20px;
}
.introductionPopup__message {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white-color);
  margin: 20px 0;
}


.normal1,
.normal2,
.angry {
  transition: transform 100ms ease-in;
}
.normal1:hover,
.normal2:hover,
.angry:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* desktop */
/* @media screen and (min-width:1024px) {
    
} */
/* tablet */
@media screen and (min-width:767px) and (max-width:1024px) {
/* Global */
:root {
  /* font */
  font-size: 12px;
}
.normal1,
.normal2,
.angry {
  width: 65px;
}
.game__btn {
  margin: 10px 0;
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
}
.popUp__message {
  font-size: 1.6rem;
}
}
/* mobile */
@media screen and (max-width:767px) {
  /* Global */
:root {
  /* font */
  font-size: 10px;
}
.normal1,
.normal2,
.angry {
  width: 40px;
}
.game__btn {
  margin: 5px 0;
  width: 2.6rem;
  height: 2.6rem;
  font-size: 1rem;
}
.popUp__message {
  font-size: 1.3rem;
}
}